.navbar {
  background-color: var(--link-primary);
  padding: 10px 40px;
  border-radius: 24px;
  display: flex;
  flex-direction: row;
  height: min-content;
  justify-content: space-between;
  align-items: center;
  gap: var(--navbar-gap);
}

.navbar ul {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  gap: var(--navbar-gap);
}

.navbar li a {
  font-weight: var(--link-weight);
  color: var(--link-secondary);
  font-size: var(--link-size);
  line-height: var(--link-height);
  padding: 10px 20px;
  transition: all 0.15s ease;
}

.navbar li a:hover {
  opacity: var(--link-opacity);
}

.navbar .active a {
  color: var(--link-primary);
  background-color: var(--link-secondary);
  border-radius: 12px;
  transition: all 0.15s ease;
}
