.container {
  background-color: var(--background-white);
  padding: var(--vertical-padding) 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerContainer {
  max-width: var(--standard-width);
  gap: 60px;
  display: flex;
  flex-direction: column;
}

.container .text {
  color: var(--text-black);
  font-size: var(--text-size);
  line-height: var(--text-line-height);
  font-weight: 500;
}

.container .text span {
  position: relative;
}

.container .underline {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1395px) {
  .container {
    padding: var(--vertical-padding) var(--horizontal-padding);
  }
}

@media only screen and (max-width: 770px) {
  .container .text {
    font-size: var(--text-size-xs);
  }
}
