.container {
  width: 49.75%;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 16px;
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
}

.container img {
  border-radius: var(--border-radius);
  object-fit: cover;
  height: 360px;
  width: 100%;
  transition: all 0.15s ease;
  margin-bottom: -8px;
}

.container .infoCard {
  background-color: var(--background-white);
  margin: 0 30px;
  position: absolute;
  bottom: -30%;
  left: 0%;
  padding: 20px;
  border-radius: var(--border-radius);
  color: var(--text-black);
  transition: all 0.5s ease-out;
  box-sizing: border-box;
  max-height: 70%;
  min-height: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 1s ease-in-out;
}
.container .infoCard h3 {
  font-size: var(--h3-size);
}

.container .infoCard p {
  color: var(--text-gray);
  font-size: var(--p-size);
}

.container:hover .infoCard {
  cursor: pointer;
  bottom: 10%;
}

@media only screen and (max-width: 1170px) {
  .container {
    width: 100%;
  }
}

@media only screen and (max-width: 638px) {
  .container {
    width: 100%;
  }
}

@media only screen and (max-width: 590px) {
  .container .infoCard h3 {
    font-size: var(--h3-size-sm);
  }

  .container .infoCard p {
    font-size: var(--p-size-sm);
  }
}
